.messages-list {

  margin: 0 auto;

  .message-item {
    float: left;
    width: 100%;

    padding: 10px 10px ;

    border-bottom: 1px solid #ececec;

    label {
      display: block;
    }

    &.right {
      text-align: right;
      background: lighten(blue, 48%);
    }

  }

}

#messages {
  margin: 0 auto;
  border-top: 1px solid #ececec;

  .message-textarea {
    width: 100%;
  }

  .send-btn {
    float: right;
  }

}
