html {
	/* avoid annoying page width change when moving from the home page */
	overflow-y: scroll;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 1em;
	word-break: break-word;
}

div#container {
	margin: 0 auto 0 auto;
	max-width: 40em;
	padding: 1em 1.5em 1.3em 1.5em;
}

div .line {
	display: flex;
}

div button {
  width: 100px;
}

div input {
	width: 100%;
}

video {
	background: #222;
	margin: 0 0 20px 0;
	width: 100%;
}